@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Playfair+Display+SC:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html {
    height: 100%;
    width: 100%;
}

body{
    background-size: 1250px;
    background-image: url(images/IMG_9295\ 2.jpg)
}

header {
    background-color: darkgray;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

.logo {
    align-content: flex-start;
    border-radius: 4px;
    padding: 5px;
    width: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
}

img {
    width: 50px
}

.navigation {
    position: absolute;
    top: 20px;
    right: 5px;
    font-family: 'Inter', sans-serif;
}
nav a {
    padding: .5em;
    color: rgb(2, 2, 2);
    transition: all 1.5s ease;
}

nav a:hover {
    color: black;
    background-color: lightgray;
    border-radius: 100px;
}

h1 {
    font-family: 'Playfair Display SC', serif;
    font-style: italic;
    color: rgb(2, 2, 2);
    text-align: center;
}

@keyframes big {

    from {
        color: black;
        font-size: 1rem;
    }
    to {
        color: rgb(97, 135, 97);
        font: 2rem;
    }
}

.container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    animation: big 1s 1s infinite alternate linear;

}

.text {
    font-size: 20px;
    padding: 10px;
    font-family: "Inter", sans-serif;
    position: absolute;
    top: 40%;
    left: 40%;
    white-space: nowrap;
    border: 2px solid rgba(0, 0, 0, 0.34);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    padding-left: 50%;
}